.pageTitle {
  font-size: 4.5em;
  letter-spacing: -0.06em;
  line-height: 1.4;
  font-weight: 800;
  background: linear-gradient(273.07deg, #e95aec 0%, #8793ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
