.grid {
  font-size: 1rem;
  display: grid;
  grid-template-areas: "apple iphone google";
  grid-template-columns: 1fr 1.5fr 1fr;
  justify-items: center;
  align-items: center;
  height: min-content;
  align-self: flex-end;

  @media (max-width: $tablet-breakpoint) {
    font-size: 0.8rem;
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }

  .appstore {
    grid-area: apple;
    justify-self: flex-end;
  }

  .playmarket {
    grid-area: google;
    justify-self: flex-start;
  }

  .iphone {
    grid-area: iphone;
    position: relative;
    width: 25em;
    aspect-ratio: 1;
    top: -1px; // removes weird lines in Safari on some window sizes
    margin-bottom: -3.5em;

    @media (min-height: $small-height) {
      width: 35em;
      margin-bottom: -4.5em;
    }

    @media (min-height: $large-height) {
      width: 45em;
      margin-bottom: -6em;
    }

    animation: iphone-appearence 1s cubic-bezier(0, 0.6, 0.32, 1) 0.1s both;
  }
}

@keyframes iphone-appearence {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes text-appearence {
  0% {
    opacity: 0;
    transform: translate(0, 30%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
