.tag {
  border-radius: 0.5rem;
  padding: 1px 5px 2px;
}

.dark {
  color: $highlight-clr-dark;
  background: $highlight-bg-dark;
}

.light {
  color: $highlight-clr-light;
  background: $highlight-bg-light;
}
