.communityPage {
  background: linear-gradient(#15141e 0%, #15141e 50%, #ffffff 60%, #fff);
  height: min-content;
  padding-inline: 2em;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    top: 3.5em;
    bottom: 2em;
    left: 0;
    z-index: 2;
    width: 100%;
    background: #ffffff;
    border-radius: 50% 50% 50% 50%;
    transform: scaleX(2);
  }

  &::after {
    content: "";
    position: absolute;
    top: 70%;
    width: 100vw;
    height: 20em;
    background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 50%),
      linear-gradient(90deg, #ffffff -0.55%, rgba(255, 255, 255, 0) 50%),
      linear-gradient(180deg, #a98cff 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;

    @media (max-width: 640px) {
      height: 30em;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;

  width: min(100%, 1280px);
}

.hero {
  z-index: 2;
  font-weight: 800;
  line-height: 1.4;

  @media (max-width: 640px) {
    text-align: center;
    margin-top: 10em;
  }

  h3 {
    font-size: 3.375em;
    letter-spacing: -0.04em;
    color: #454267;
    margin: -0.5em 0;
  }

  h1 {
    font-size: 4.5em;
    letter-spacing: -0.06em;
    background: linear-gradient(273.07deg, #e95aec 0%, #8793ff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .heroDescription {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.04em;
    max-width: 20em;
    min-width: 16em;

    .highlightDark {
      color: #785bb6;
      background: #dcd6fb;
      border-radius: 0.5em;
      padding: 1px 5px 2px;
    }
  }
}

.communityContainer {
  position: relative;
  width: 30em;
  aspect-ratio: 1;
  z-index: 4;
  margin-block: 10em;

  @media (max-width: 640px) {
    margin-block-start: 2em;
  }

  &::before {
    content: "";
    position: absolute;
    top: 4em;
    right: 13%;
    width: 75%;
    aspect-ratio: 1;
    z-index: -1;

    border-radius: 50%;
    background: linear-gradient(273.81deg, #8564f7 32.09%, #9877f4 100%);
  }

  .main {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .usercard1 {
    position: absolute;
    top: 3.5em;
    left: -3.3em;
    z-index: 0;
    width: 18em;
    height: 6em;
    box-shadow: 0px 1em 1em rgba(0, 0, 0, 0.06);
    border-radius: 1em;
  }

  .usercard2 {
    position: absolute;
    top: 9em;
    right: 0;
    z-index: 1;
    width: 12em;
    height: 4.5em;
    box-shadow: 0px 1em 1em rgba(0, 0, 0, 0.06);
    border-radius: 1em;
  }

  .usercard3 {
    position: absolute;
    top: 14.5em;
    left: 0;
    z-index: 0;
    width: 12em;
    height: 5em;
    box-shadow: 0px 1em 1em rgba(0, 0, 0, 0.06);
    border-radius: 1em;
  }

  .usercard4 {
    position: absolute;
    top: 18.9em;
    right: 1.6em;
    z-index: 1;
    width: 14em;
    height: 4.5em;
    box-shadow: 0px 1em 1em rgba(0, 0, 0, 0.06);
    border-radius: 1em;
  }
}
