.downloadPage {
  height: 30em;
  background: #ffffff;

  &::before {
    content: "";
    position: absolute;
    bottom: 6.25em;
    width: 100vw;
    aspect-ratio: 1;
    background: linear-gradient(90deg, #ffffff 30%, #e7dfff 50%, #ffffff 70%);
    border-radius: 0 0 50% 50%;
    transform: scaleX(2);
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: calc(6.25em + 3px);
    width: 100vw;
    aspect-ratio: 1;
    background: #ffffff;
    border-radius: 0 0 50% 50%;
    transform: scaleX(2);
  }
}

.appIcon {
  background: rgba(145, 107, 255, 0.25);
  backdrop-filter: blur(0.5em);
  border-radius: 1.5em;
  width: 7em;
  height: 7em;
  z-index: 4;
  position: absolute;
  bottom: 29em;

  div {
    padding: 0.5em;
  }
}

.hero {
  margin-top: 1.3em;
  display: block;
  z-index: 4;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.04em;
  color: #454267;

  .title {
    font-weight: 800;
    font-size: 3.375em;
  }

  .subtitle {
    font-weight: 700;
    font-size: 1.5em;
  }

  .stores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1.5em;

    a {
      transition: all 100ms linear;
      cursor: pointer;

      &:hover {
        scale: 1.1;
      }
    }
  }
}

.footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 90%;

  color: #454267;
  font-size: 0.875em;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.125em;

  .contacts {
    align-items: center;
    display: flex;
    height: 3.125em;
    justify-content: space-between;
    width: 100%;

    .email {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }

    .socials {
      cursor: pointer;
      display: flex;
      gap: 2em;
      list-style: none;

      a:hover {
        filter: invert(46%) sepia(76%) saturate(3176%) hue-rotate(229deg)
          brightness(96%) contrast(101%);
      }

      .youtube {
        scale: 1.2;
      }
    }
  }

  .links {
    display: flex;
    align-items: center;
    height: 3.125em;
    width: 100%;
    justify-content: space-between;

    font-weight: 500;
    font-size: 0.8125em;
    line-height: 1.125em;
    letter-spacing: -0.02em;
    color: #45426770;

    .copyrightContainer {
      display: flex;
      align-items: center;
      gap: 0.5em;

      .copyrightLogo {
        filter: brightness(2.5) grayscale(1);
      }
    }

    .terms {
      display: flex;
      gap: 1.25em;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 55%;
    height: 1px;
    width: 100vw;
    background: linear-gradient(
      90deg,
      #e0dde8 0%,
      rgba(210, 197, 255, 0) 50%,
      #e0dde8 100%
    );
  }
}

.footerQRContainer {
  position: absolute;
  bottom: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  z-index: 2;

  font-weight: 600;
  font-size: 0.875em;
  line-height: 1.1;
  text-align: center;
  letter-spacing: -0.02em;
  color: #454267;

  .qrImage {
    width: 6em;
    aspect-ratio: 1;
  }
}
