.downloadPage {
  height: min-content;
  background: #ffffff;
  padding-inline: 2em;

  &::before {
    content: "";
    position: absolute;
    bottom: 8em;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #ffffff 30%, #e7dfff 50%, #ffffff 70%);
    border-radius: 0 0 50% 50%;
    transform: scaleX(2);
    z-index: 0;

    @media (max-width: 740px) {
      bottom: 37em;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: calc(8em + 3px);
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    border-radius: 0 0 50% 50%;
    transform: scaleX(2);

    @media (max-width: 740px) {
      bottom: calc(37em + 3px);
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-block: 2em;

  height: 100%;
  width: min(100%, 1280px);
}

.appIcon {
  background: rgba(145, 107, 255, 0.25);
  backdrop-filter: blur(0.5em);
  border-radius: 1.5em;
  width: 7em;
  height: 7em;
  z-index: 4;
  position: absolute;
  top: -6em;
  left: 50%;
  transform: translate(-50%);

  div {
    padding: 0.5em;
  }
}

.hero {
  z-index: 4;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.04em;
  color: #454267;
  padding-inline: 2em;

  .title {
    font-weight: 800;
    font-size: 3.375em;
    margin: 0;
  }

  .subtitle {
    margin-top: 0.5em;
    font-weight: 700;
    font-size: 1.5em;
  }

  .stores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 2.5em;
  }
}

.footerQRContainer {
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  z-index: 1;

  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.1;
  text-align: center;
  letter-spacing: -0.02em;
  color: #454267;

  span {
    margin-top: 0.5em;
  }
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  margin-top: -4em;
  width: 100%;
  z-index: 1;

  color: #454267;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.125em;

  @media (max-width: 740px) {
    gap: 1.5em;
    margin-top: 2em;
    width: 100%;
  }

  .contacts {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 740px) {
      flex-direction: column;
      gap: 1.5em;
    }

    .email {
      display: flex;
      align-items: center;
      gap: 0.5em;

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    .socials {
      cursor: pointer;
      display: flex;
      gap: 2em;
      list-style: none;
      padding: 0;

      a:hover {
        filter: invert(46%) sepia(76%) saturate(3176%) hue-rotate(229deg) brightness(96%) contrast(101%);
      }

      .youtube {
        scale: 1.2;
      }
    }
  }

  .footerBorder {
    height: 1px;
    width: 100%;
    margin-block: 0.2em;
    background: linear-gradient(90deg, #e0dde8 0%, rgba(210, 197, 255, 0) 50%, #e0dde8 100%);

    @media (max-width: 740px) {
      order: -1;
      margin-bottom: 2em;
    }
  }

  .links {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    font-weight: 500;
    font-size: 0.8125em;
    line-height: 1.125em;
    letter-spacing: -0.02em;
    color: #45426770;

    @media (max-width: 740px) {
      flex-direction: column;
      gap: 2em;
    }

    .copyrightContainer {
      display: flex;
      align-items: center;
      gap: 0.5em;

      .copyrightLogo {
        filter: brightness(2.5) grayscale(1);
      }
    }

    .terms {
      display: flex;
      gap: 1.25em;

      @media (max-width: 740px) {
        flex-direction: column;
        text-align: center;
        order: -1;
      }

      a {
        color: inherit;
        text-decoration: none;
        transition: color 300ms linear;

        &:hover {
          color: #8965f6;
        }
      }
    }
  }
}
