@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

h1 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.page {
  width: 100vw;
  height: 50em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: clamp(10px, 1.125vw, 16px);
}

/* DOWNLOAD PAGE */

.download {
  height: 30em;
  background: #ffffff;
}

.appIcon {
  background: rgba(145, 107, 255, 0.25);
  backdrop-filter: blur(0.5em);
  border-radius: 1.5em;
  width: 7em;
  height: 7em;
  z-index: 4;
  position: absolute;
  bottom: 29em;
}

.appIcon > div {
  padding: 0.5em;
}

.downloadGroup {
  margin-top: 1.3em;
  display: block;
  z-index: 4;
}

.downloadHeroText {
  font-weight: 800;
  font-size: 3.375em;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.04em;
  color: #454267;
}

.downloadDescription {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.04em;
  color: #454267;
}

.downloadStoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1.5em;
}

.downloadStoreContainer > a {
  transition: all 100ms linear;
}

.downloadStoreContainer > a:hover {
  cursor: pointer;
  scale: 1.1;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 90%;

  font-weight: 600;
  font-size: 0.875em;
  line-height: 1.125em;
  letter-spacing: -0.02em;
  color: #454267;
}

.contacts {
  display: flex;
  width: 100%;
  height: 3.125em;
  justify-content: space-between;
  align-items: center;
}

.emailContainer {
  display: flex;
  gap: 0.5em;
}

.socialContainer {
  display: flex;
  gap: 2em;
}

.socialContainer > a:hover {
  cursor: pointer;
  filter: invert(46%) sepia(76%) saturate(3176%) hue-rotate(229deg)
    brightness(96%) contrast(101%);
}

.bottomFooter {
  display: flex;
  align-items: center;
  height: 3.125em;
  width: 100%;
  justify-content: space-between;

  font-weight: 500;
  font-size: 0.8125em;
  line-height: 1.125em;
  letter-spacing: -0.02em;
  color: #45426770;
}

.footerBorder {
  height: 1px;
  width: 100vw;
  background: linear-gradient(
    90deg,
    #e0dde8 0%,
    rgba(210, 197, 255, 0) 50%,
    #e0dde8 100%
  );
}

.copyrightContainer {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: #45426770;
}

.links {
  display: flex;
  gap: 1.25em;
}

.links > a {
  color: inherit;
  text-decoration: none;
}

.footerQRContainer {
  margin-block: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  z-index: 2;

  font-weight: 600;
  font-size: 0.875em;
  line-height: 1.1;
  text-align: center;
  letter-spacing: -0.02em;
  color: #454267;
}

.qrImage {
  width: 6em;
  aspect-ratio: 1;
}

.copyrightLogo {
  filter: brightness(2.5) grayscale(1);
}

.curvedLine {
  position: absolute;
  bottom: 6.25em;
  width: 100vw;
  aspect-ratio: 1;
  background: linear-gradient(90deg, #ffffff 30%, #e7dfff 50%, #ffffff 70%);
  border-radius: 0 0 50% 50%;
  transform: scaleX(2);
  z-index: 0;
}

.curvedOverlap {
  position: absolute;
  z-index: 0;
  bottom: calc(6.25em + 3px);
  width: 100vw;
  aspect-ratio: 1;
  background: #ffffff;
  border-radius: 0 0 50% 50%;
  transform: scaleX(2);
}

.youtubeIcon {
  scale: 1.2;
}
