@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

h1,
ul,
p {
  padding: 0;
  margin: 0;
}

img {
  pointer-events: none;
}

.page {
  width: 100vw;
  height: 50em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: clamp(10px, 1.125vw, 16px);
}

.kite {
  @media (max-width: 740px) {
    opacity: 0;
  }
}
