@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;600;700;800&display=swap");

html {
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

h1 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.page {
  width: 1280px;
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* WELCOME PAGE */
.welcome {
  background-color: #ffffff;
}

.purpleBubble {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 91.2%;
  background: linear-gradient(180deg, #ffffff 50%, #dfd7ff 100%);
  border-radius: 0 0 50% 50%;
  transform: scaleX(2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.whiteBubbleBottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background: #ffffff;
  border-radius: 0 0 50% 50%;
  transform: scaleX(2);
  z-index: 1;
}

.whiteBubbleBoth {
  position: absolute;
  top: 56px;
  bottom: 36px;
  left: 0;
  z-index: 2;
  width: 100%;
  background: #ffffff;
  border-radius: 50% 50% 50% 50%;
  transform: scaleX(2);
}

.communityGradient {
  position: absolute;
  top: 70%;
  width: 100%;
  height: 300px;
  background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 50%),
    linear-gradient(90deg, #ffffff -0.55%, rgba(255, 255, 255, 0) 50%),
    linear-gradient(180deg, #a98cff 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

.textLogo {
  margin-top: 40px;
  width: 96px;
  z-index: 2;
}

.imageLogo {
  align-self: flex-end;
  width: 64px;
  z-index: 2;
  margin-right: 84px;
}

.title {
  z-index: 2;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 104px;

  text-align: center;
  letter-spacing: -0.06em;

  background: linear-gradient(89.78deg, #704ee2 0.15%, #926ff7 99.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.subtitle {
  margin-top: 10px;
  z-index: 2;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #454267;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.integrations {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 552px;
  bottom: 115px;
  transform: scaleX(0.5);
  position: absolute;
}

.iphoneContainer {
  position: absolute;
  top: 346px;
  backface-visibility: hidden;
  transform: scaleX(0.5);
  width: 320px;
  display: flex;
  justify-content: center;
}

.storeImage {
  z-index: 2;
  width: 175px;
}

.scrollIconContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -30%);
  z-index: 2;
}

.qrContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 32px;
  margin-bottom: 24px;
  display: flex;
  align-items: flex-end;
  z-index: 2;
}

.qrText {
  font-weight: 600;
  margin-right: -12px;

  /* FIGMA */
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #454267;
}

.diagonalArrow {
  margin-bottom: 28px;
  margin-right: 7px;
}

.qrImage {
  width: 96px;
  height: 96px;
}

/* DESTINATION PAGE */

.destination {
  background: #15141e;
  flex-direction: row;
  justify-content: center;
  gap: 62px;
}

.destinationsContainer {
  position: relative;
  margin-top: -1px;
  margin-left: 117px;
  width: 571px;
  height: 521px;
  border-radius: 32px;
  background: linear-gradient(180deg, #f4f0ff 0%, #ffffff 100%);
  z-index: 2;
}

.iconContainer {
  height: 64px;
  aspect-ratio: 1/1;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 32px 56px rgba(68, 56, 107, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchIcon {
  position: absolute;
  top: 71px;
  left: -20px;
}

.settingsIcon {
  position: absolute;
  top: 335px;
  left: -20px;
}
.destinationsImageContainer {
  position: relative;
  width: calc(388px + 36px * 3);
  top: -99px;
  left: calc(101px - 36px);
}

.destinationsHeroText {
  width: 445px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.findText {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: -0.04em;
  color: #454267;
  margin: -8px 0px;
}

.destinationText {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 82px;
  letter-spacing: -0.06em;
  background: linear-gradient(273.07deg, #e95aec 0%, #8793ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.highlightDark {
  color: #785bb6;
  background: #dcd6fb;
  border-radius: 8px;
  padding: 1px 5px 2px;
  letter-spacing: -0.04em;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.explainText {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.04em;
  color: #454267;
}

/* GUIDES PAGE */

.guides {
  background: #15141e;
}

.accessText {
  font-weight: 800;
  text-align: center;
  letter-spacing: -0.04em;
  font-size: 4.2vw;
  color: #ffffff;
  margin-top: 1em;
  margin-bottom: -0.3em;
}

.guidesText {
  width: 100vw;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 5.5vw;
  text-align: center;
  letter-spacing: -0.06em;

  background: linear-gradient(273.07deg, #42bbff 0%, #c241ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.guidesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 60vh;
  width: 660px;
  background: rgba(21, 20, 30, 0.4);
  z-index: 1;
}

.description {
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.04em;
  width: 50vw;
}

.highlightLight {
  color: #ffffff;
  background: #6d57a1;
  letter-spacing: -0.04em;
  border-radius: 8px;
  padding: 1px 5px 2px;
  margin-right: 0.2em;
  font-size: 1.5vw;
  font-weight: 600;
}

.explainTextWhite {
  color: #ffffff;
  display: inline;
  font-size: 1.5vw;
  letter-spacing: -0.04em;
  font-weight: 600;
}

/* COMMUNITY PAGE */

.community {
  flex-direction: row;
  justify-content: center;
  gap: 95px;
  background: linear-gradient(#15141e 0%, #15141e 50%, #ffffff);
  height: 697px;
}

.communityHeroText {
  width: 445px;
  display: flex;
  flex-direction: column;
  z-index: 4;
}

.communityBackground {
  position: relative;
  width: 28.5vw;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 3em;
  background: linear-gradient(273.81deg, #8564f7 32.09%, #9877f4 100%);
  z-index: 4;
}

.communityContainer {
  position: relative;
  top: 60px;
  width: 515px;
  height: 549px;
  z-index: 4;
}

.joinText {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: -0.04em;
  color: #454267;
  margin: -8px 0px;
}

.communityText {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 82px;
  letter-spacing: -0.06em;
  background: linear-gradient(273.07deg, #e95aec 0%, #8793ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* DOWNLOAD PAGE */

.download {
  height: 535px;
  background: #ffffff;
}

.downloadGradient {
  position: absolute;
  top: 0;
  height: 22vh;
  width: 100vw;
  z-index: 2;
  background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 50%),
    linear-gradient(90deg, #ffffff -0.55%, rgba(255, 255, 255, 0) 50%),
    linear-gradient(180deg, #a98cff 0%, rgba(255, 255, 255, 0) 100%);
}

.appIcon {
  background: rgba(145, 107, 255, 0.25);
  backdrop-filter: blur(8px);
  border-radius: 28px;
  width: 112px;
  height: 112px;
  z-index: 4;
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}

.appIcon > div {
  padding: 9px;
}

.downloadHeroText {
  margin-bottom: 0.3em;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 4.5vw;
  text-align: center;
  letter-spacing: -0.04em;
  color: #454267;
  z-index: 2;
}

.downloadDescription {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 2vw;
  text-align: center;
  letter-spacing: -0.04em;
  color: #454267;
  z-index: 2;
}

.downloadStoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
  margin-top: 2em;
  z-index: 2;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 90vw;

  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #454267;
}

.contacts {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.emailContainer {
  display: flex;
  gap: 0.3em;
}

.socialContainer {
  display: flex;
  gap: 2.1em;
}

.socialContainer > a:hover {
  cursor: pointer;
  filter: invert(46%) sepia(76%) saturate(3176%) hue-rotate(229deg)
    brightness(96%) contrast(101%);
}

.bottomFooter {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  justify-content: space-between;

  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #45426770;
}

.footerBorder {
  height: 1px;
  background: linear-gradient(
    90deg,
    #e0dde8 0%,
    rgba(210, 197, 255, 0) 50%,
    #e0dde8 100%
  );
}

.copyrightContainer {
  display: flex;
  align-items: center;
  gap: 0.3em;
  color: #45426770;
}

.links {
  display: flex;
  gap: 1.5em;
}

.links > a {
  color: inherit;
  text-decoration: none;
}

.footerQRContainer {
  position: absolute;
  left: 50%;
  bottom: 12px;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  z-index: 2;

  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #454267;
}

.copyrightLogo {
  filter: brightness(2.5) grayscale(1);
}

.curvedLine {
  position: absolute;
  bottom: 15%;
  width: 100%;
  aspect-ratio: 1;
  background: linear-gradient(90deg, #ffffff 30%, #e7dfff 50%, #ffffff 70%);
  border-radius: 0 0 50% 50%;
  transform: scaleX(2);
  z-index: 0;
}

.curvedOverlap {
  position: absolute;
  z-index: 1;
  bottom: calc(15% + 3px);
  width: 100%;
  aspect-ratio: 1;
  background: #ffffff;
  border-radius: 0 0 50% 50%;
  transform: scaleX(2);
}

.backgroundCircleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  gap: 30vw;
}

.backgroundCirclePurple {
  height: 100%;
  aspect-ratio: 1;
  background: #8a69ee;
  opacity: 0.3;
  filter: blur(120px);
  border-radius: 50%;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.backgroundCircleTeal {
  height: 100%;
  aspect-ratio: 1;
  background: #3f6fb0;
  opacity: 0.3;
  filter: blur(120px);
  border-radius: 50%;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.backgroundCircleTeal:first-child {
  margin-top: -5%;
}

.backgroundCircleTeal:last-child {
  margin-top: 5%;
}

.backgroundCirclePink {
  height: 100%;
  aspect-ratio: 1;
  background: #9f4fcd;
  opacity: 0.3;
  filter: blur(120px);
  border-radius: 50%;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.backgroundCirclePink:first-child {
  margin-top: 5%;
}

.backgroundCirclePink:last-child {
  margin-top: -5%;
}

/* GUIDES BUTTON GROUP */
.btn-group {
  background-color: rgba(118, 118, 128, 0.24);
  border-radius: 50px;
  height: 35px;
  margin-top: 1em;
}
.btn-group button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  float: left;
  height: 100%;
  width: 10em;
  border-radius: 50px;
  padding: 5px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #464649;
}

.btn-group button.btn-active {
  background-color: #59537b;
}

.iphoneFrame {
  width: 100%;
  height: 100%;
  padding: 0 0.5em;
  background: url("/assets/iphone-frame.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.descriptionContent {
  width: 85%;
  height: 100%;
  color: #aba6d6;
  padding: 0 3em;
}

.descriptionContent > h3 {
  font-weight: 800;
  font-size: 1.6em;
  letter-spacing: -0.02em;
}

.descriptionContent__textContainer {
  padding: 16px 24px;
  background: rgba(163, 94, 255, 0.05);
  border-radius: 20px;
  font-weight: 600;
  font-size: 1em;
  line-height: 200%;
  letter-spacing: -0.02em;
}

.descriptionContent__textContainer > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.descriptionContent__footer {
  filter: brightness(0.6);
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  margin-top: 0.5em;
}

.timelineContent {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.timelineContent__image {
  width: 70%;
  padding: 2em 4em;
}

.timelineContent__text {
  padding: 3.6em 3em 0 0;

  font-weight: 600;
  font-size: 1em;
  line-height: 200%;
  letter-spacing: -0.02em;
  color: #aba6d6;
}

.timelineContent__text > p:first-child {
  font-weight: 700;
  margin-bottom: 0.8em;
}

.statsContent {
  width: 85%;
  height: 100%;
  padding: 1em 4em;
}

.youtubeIcon {
  scale: 1.2;
}
