@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

h1 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* WELCOME PAGE */
.welcome {
  background: linear-gradient(180deg, #ffffff 50%, #dfd7ff 100%);
}

.textLogo {
  margin-top: 2em;
}

.imageLogo {
  align-self: flex-end;
  margin-right: 3em;
}

.title {
  font-size: 6vw;

  /* FIGMA */
  font-style: normal;
  font-weight: 800;
  /* font-size: 80px; */
  text-align: center;
  letter-spacing: -0.06em;

  background: linear-gradient(89.78deg, #704ee2 0.15%, #926ff7 99.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.subtitle {
  font-size: 1.8vw;

  /* FIGMA */
  font-style: normal;
  font-weight: 700;
  /* font-size: 24px; */
  /* line-height: 32px; */
  text-align: center;
  letter-spacing: -0.04em;
  color: #454267;
  /* flex: none;
  order: 1;
  flex-grow: 0; */
}

.integrations {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8vw;
}

.iphoneContainer {
  max-height: 30vh;
}

.storeImage {
  padding-top: 9em;
}

.scrollIconContainer {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.qrContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 1.5em;
  margin-bottom: 1em;
  display: flex;
  align-items: flex-end;
  z-index: 1;
}

.qrText {
  font-weight: 600;
  margin-bottom: 0.1em;
  margin-right: -0.5em;

  /* FIGMA */
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #454267;
}

.diagonalArrow {
  margin-bottom: 2.3em;
  margin-right: 0.5em;
}

.bottomCurvature {
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  background-color: #ffffff;
  z-index: 0;
}

/* DESTINATION PAGE */

.destination {
  background: #ffffff;
  flex-direction: row;
  justify-content: space-around;
}

.destinationsContainer {
  position: relative;
  height: 80%;
  width: 35vw;
  border-radius: 2em;
  background: linear-gradient(180deg, #f4f0ff 0%, #ffffff 100%);
}

.iconContainer {
  height: 3.5em;
  aspect-ratio: 1/1;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 32px 56px rgba(68, 56, 107, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchIcon {
  position: absolute;
  top: 10%;
  left: -1.5em;
}

.settingsIcon {
  position: absolute;
  top: 50%;
  left: -1.5em;
}

.destinationsHeroText {
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.findText {
  color: #454267;
  font-size: 4vw;
  margin-bottom: -0.5em;
}

.destinationText {
  font-size: 6vw;

  /* FIGMA */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.06em;
  background: linear-gradient(273.07deg, #e95aec 0%, #8793ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.highlightDark {
  color: #785bb6;
  background: #dcd6fb;
  border-radius: 8px;
  padding: 1px 5px 2px;
  margin-right: 0.2em;
  font-size: 1.8vw;
}

.destinationExplainText {
  color: #454267;
  display: inline;
  font-size: 1.8vw;
}
