.guidesPage {
  height: min-content;
  max-width: 1680px;
  margin-inline: auto;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    height: 101%;
    width: 105vw;
    background-color: #15141e;
    z-index: 1;
  }
}

.hero {
  display: block;
  margin-inline: auto;
  margin-top: 2.5em;
  padding-inline: 2em;
  z-index: 1;

  font-weight: 800;
  line-height: 1.1;
  text-align: center;

  h3 {
    margin-bottom: 0;

    color: #ffffff;
    font-size: 3.375em;
    letter-spacing: -0.04em;
  }

  h1 {
    background: linear-gradient(273.07deg, #42bbff 0%, #c241ff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 4.5em;
    letter-spacing: -0.06em;
  }
}

.widgetContainer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 47em;
  z-index: 2;
  position: relative;
  padding-inline: 3em;

  background-image: url("/assets/iphone-frame.svg");
  background-repeat: no-repeat;
  background-size: contain;

  .btnGroup {
    background-color: rgba(118, 118, 128, 0.24);
    border-radius: 50px;
    height: 3em;
    margin-top: 2em;
    width: max-content;

    button {
      background-color: transparent;
      border: none;
      color: #ffffff;
      cursor: pointer;
      float: left;
      height: 100%;
      width: 10em;
      border-radius: 50px;
      padding: 6px;
      font-weight: 600;
      font-size: 1em;
      transition: background 0.2s ease-in-out;

      &:hover {
        background-color: #464649;
      }

      &.btnActive {
        background-color: #59537b;
        transition: background 0.5s ease-out;
      }

      // TODO: is this necessary?
      &:not(:last-child) {
        border-right: none; /* Prevent double borders */
      }
    }

    // TODO: is this necessary?
    &:after {
      content: "";
      clear: both;
      display: table;
    }
  }
}

.description {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.5;
  margin-top: 2em;
  max-width: 35em;
  padding-inline: 2em;
  text-align: center;
  z-index: 1;

  @media (max-width: 930px) {
    margin-top: 0;
  }

  .highlightLight {
    background: #6d57a1;
    border-radius: 8px;
    padding: 1px 5px 2px;
  }
}

// TODO: refactor to be real Sass
.backgroundCircleContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25em;
  z-index: -1;

  .backgroundCircle {
    height: 70%;
    aspect-ratio: 1;
    opacity: 0.3;
    filter: blur(20em);
    border-radius: 50%;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    transition: all 0.5s linear;
  }

  .backgroundCirclePurple {
    background: #8a69ee;
  }

  .backgroundCircleTeal {
    background: #3f6fb0;

    &:first-child {
      margin-top: -10%;
    }

    &:last-child {
      margin-top: 10%;
    }
  }

  .backgroundCirclePink {
    background: #9f4fcd;

    &:first-child {
      margin-top: 10%;
    }

    &:last-child {
      margin-top: -10%;
    }
  }
}

.iphoneFrame {
  width: 100%;
  height: 21rem;
  padding: 1em 4em;

  & > div {
    transition: opacity 0.1s linear;
  }
}
