.blackBackground {
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: #15141e;
  z-index: 1;
}

.accessText {
  margin-top: 40px;
  margin-bottom: -8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
  z-index: 2;
}

.guidesText {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 82px;
  text-align: center;
  letter-spacing: -0.06em;
  background: linear-gradient(273.07deg, #42bbff 0%, #c241ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  z-index: 2;
}

.guidesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 320px;
  width: 611px;
  background: rgba(21, 20, 30, 0.4);
  z-index: 1;
  margin-top: 30px;
}

.description {
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.04em;
  width: 730px;
  margin-top: 70px;
  z-index: 2;
}

.highlightLight {
  background: #6d57a1;
  border-radius: 8px;
  padding: 1px 5px 2px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.explainTextWhite {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.btnGroup {
  background-color: rgba(118, 118, 128, 0.24);
  border-radius: 50px;
  height: 32px;
  margin-top: 30px;
}
.btnGroup button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  float: left;
  height: 100%;
  width: 10em;
  border-radius: 50px;
  padding: 6px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.btnGroup button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btnGroup:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btnGroup button:hover {
  background-color: #464649;
}

.btnGroup button.btnActive {
  background-color: #59537b;
}

.iphoneFrame {
  width: 100%;
  height: 100%;
  padding: 0 0.5em;
  background-image: url("/assets/iphone-frame.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
