.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #ffffff 50%, #dfd7ff 100%);
}

.textLogo {
  margin-top: 3em;
  margin-bottom: 1em;
}

.imageLogo {
  align-self: flex-end;
  margin-right: 3em;
}

.title {
  height: 1.2em;

  /* FIGMA */
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  text-align: center;
  letter-spacing: -0.06em;

  background: linear-gradient(89.78deg, #704ee2 0.15%, #926ff7 99.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.subtitle {
  /* FIGMA */
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  /* line-height: 32px; */
  text-align: center;
  letter-spacing: -0.04em;
  color: #454267;
  /* flex: none;
  order: 1;
  flex-grow: 0; */
}

.integrations {
  margin-top: 5em;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7em;
}

.bottomGroup {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20vh;
  width: 100vw;
}

.bottomCurvature {
  height: 80%;
  background: url("../public/curvature.png") no-repeat bottom;
  background-size: 100%;
}

.bottomFiller {
  background-color: #ffffff;
  height: 20%;
}

.scrollIconContainer {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.qrContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: flex-end;
}

.qrText {
  font-weight: 600;
  margin-bottom: 0.1em;
  margin-right: -0.5em;

  /* FIGMA */
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #454267;
}

.diagonalArrow {
  margin-bottom: 2.3em;
  margin-right: 0.5em;
}