.welcomePage {
  background: linear-gradient(180deg, #ffffff 50%, #dfd7ff 100%);
  height: 100vh;
  min-height: 50em;
  max-height: 1450px;

  @media (max-width: $mobile-breakpoint) {
    height: min-content;
  }

  &::after {
    content: "";
    font-size: clamp(13px, 1.125vw, 16px);
    background-image: url("/assets/white-curve3x.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 22vh;
    z-index: 2;
  }
}

.container {
  max-width: 1280px;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  position: relative;
  padding-inline: 2em;

  @media (max-width: $mobile-breakpoint) {
    margin-top: 2.5em;
  }
}

.hero {
  align-self: flex-end;
  z-index: 1;
  margin-bottom: 5em;
  padding-inline: 5em;

  @media (max-width: $mobile-breakpoint) {
    margin-bottom: 1em;
    padding-inline: 1em;
  }

  .textLogo {
    animation: text-appearence 0.5s ease-out 0.5s both;

    font-size: clamp(13px, 1.125vw, 16px);
    margin-inline: auto;
    margin-top: 2em;
    width: 6em;
  }

  .imageLogo {
    animation: text-appearence 0.5s ease-out 0.7s both;

    font-size: clamp(7px, 1.125vw, 16px);
    margin-left: auto;
    margin-right: -4vw;
    width: 4em;

    @media (max-width: $mobile-breakpoint) {
      margin-right: 1em;
    }
  }
}

.integrationsMobile {
  display: none;

  align-items: center;
  flex-direction: column;
  gap: 3em;
  padding-inline: 2em;
  margin-bottom: 5vh;

  z-index: 1;

  @media (max-width: $mobile-breakpoint) {
    display: flex;
    gap: 1em;
  }

  .stores {
    display: flex;
    gap: 1em;
  }

  .iphone {
    animation: iphone-appearence 1s cubic-bezier(0, 0.6, 0.32, 1) 0.1s both;
  }
}

.scrollIconContainer {
  animation: scroll-appearence 1s ease-out 2s both;

  position: absolute;
  bottom: 4%;
  left: 50%;
  z-index: 3;

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

@keyframes iphone-appearence {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes text-appearence {
  0% {
    opacity: 0;
    transform: translate(0, 30%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes store-appearence {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes scroll-appearence {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
